@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    @apply w-full mx-auto;

    @media only screen and (max-width: 1440px) {
        max-width: 90%;
    }

    @media only screen and (max-width: 1720px) {
        width: 90%;
        max-width: 1500px;
    }
}