@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.container {
    @apply w-full mx-auto;

    @media only screen and (max-width: 1440px) {
        max-width: 80%;
    }

    @media only screen and (max-width: 1720px) {
        width: 80%;
        max-width: 1500px;
    }
}

button, input {
    transition: all 0.3s;
}

img {
    user-select: none;
}